@{ 
    var discountedProduct = ViewBag.DiscountProduct;
    var categorizedProduct = ViewBag.CategoryProduct;
}



<style>
    #colimage {
        background-image: url('https://images.unsplash.com/photo-1557821552-17105176677c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932');
        height: 40vh;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    #category {
        background-image: url('https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        height: auto;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        
    }
    #hotNow { 
        background-image: url('https://images.unsplash.com/photo-1573855619003-97b4799dcd8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); 
        height: auto; 
        width: auto; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-attachment: scroll; 
        background-position: center;
        background-position-y: top;

    }

    #text {
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
    }
    .style {
        
        background-color: rgba(0,0,0,0.5);
    }
    
    @*#cardImg img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }*@
    .card-img-top {
        width: 100%;
        height: 18vh;
        object-fit: contain;

    }
</style>






<div class="row">
    <div class="col">
        <div id="colimage">
            <h1 id="text" class="display-1 fw-bold">Welcome to POS</h1>
        </div>
    </div>
</div>





<div class="container mb-4">
    <hr />
    <h3 class="display-4 text-center fw-bold">Product Category</h3>
    <hr />
    <div id="category" class="row mt-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-2">
        
        @foreach (var item in categorizedProduct)
        {
            <div class="col">
                <div class="container card mb-4 justify-content-center align-items-left p-2 shadow-sm" style="width: 18rem;">
                    <a asp-action="GetProductByCategoryId" asp-controller="Product" asp-route-id="@item.catId">
                        <img src="@(String.IsNullOrEmpty(item.coverUrl) ? "/images/dummy-image.jpg" : item.coverUrl )" class="card-img-top" alt="...">
                    </a>

                         
                    <div class="card-body">
                        <h5 class="card-title">@item.categroyName</h5>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />



    @*----------------------------------------------------------------       CAROUSEL      ---------------------------------------------------------------------*@





@*    <div class="container row justify-content-center align-items-center my-2 mb-4">
        <div id="carouselExampleFade" class="col carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.sleekmakeup.com/sites/g/files/xpfdlm111/files/Desktop_1920x400.png"
                         class="d-flex w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://bethanyemc.ca/wp-content/uploads/Childrens-Header.jpg" class="d-block w-100"
                         alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.ucc-bd.com/pub/media/magiccart/magicslider/c/7/c7b32e35_vk-com-header1590x400.jpg"
                         class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>*@





@*----------------------------------------------------------------       PRDOUCTS BY DISCOUNT       ---------------------------------------------------------------------*@







    

    <hr />
    <h3 class="display-3 text-center fw-bold">🔥Hot Right Now🔥</h3>
    <hr />
    
    <div id="hotNow" class="row mt-3 mb-4 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5">
        
        @foreach (var item in ((IEnumerable<dynamic>)discountedProduct).Take(12))
        {
            <div class="col">
               
                <div class="container card mb-5 justify-content-center align-items-left p-2 shadow-sm" style="width: 18rem;">
                    <img src="@(String.IsNullOrEmpty(item.coverPhotoUrl) ? "/images/dummy-image.jpg" : item.coverPhotoUrl)"
                            class="card-img-top" alt="...">
                    <div class="card-body">
                        <a asp-controller="Product" asp-action="GetProductById" asp-route-id="@item.productId" style="text-decoration:none; color:black"> 
                        <h5 class="card-title">@item.productName</h5> </a>
                        <p class="card-text">Quantity: @item.totalProducts</p>
                        @if (item.productDiscount != 0)
                        {
                            <div class="conatiner">
                                <div class="badge bg-danger text-wrap text-center fs-5 fw-bolder" style="width: auto; height: auto;">
                                    ৳ @item.productDiscount
                                </div>
                                <p class="card-text text-decoration-line-through fs-6">৳@item.unitPrice</p>
                            </div>

                        }
                        else
                        {
                            <p class="card-text fs-1">৳@item.unitPrice</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    
</div>




