@{ 
    var prodByCatId = ViewBag.ProdByCatId;
}

<div class="container">
    <h3 class="display-4 text-center fw-bold">@ViewBag.CatName</h3>
    <hr />
    <div class="row mt-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-2">
        @foreach (var item in prodByCatId)
        {
            <div class="container card mb-4 justify-content-center align-items-left p-2 shadow-sm" style="width: 18rem;">
                <a asp-controller="Product" asp-action="GetProductById" asp-route-id="@item.productId" style="text-decoration:none; color:black">
                    <img class="card-img-top" width="100%" height="300" src="@(String.IsNullOrEmpty(item.coverPhotoUrl) ? "/images/dummy-image.jpg" : item.coverPhotoUrl )" alt="Card image cap" />
                </a>
                <div class="card-body">
                    <a asp-controller="Product" asp-action="GetProductById" asp-route-id="@item.productId" style="text-decoration:none; color:black"> <h5 class="card-title">@item.productName</h5> </a>
                    <p class="card-text">Quantity: @item.totalProducts</p>
                    @if (item.productDiscount != 0)
                    {
                        <div class="badge bg-danger text-wrap text-center fs-5 fw-bolder" style="width: auto; height: auto;">
                            ৳ @item.productDiscount
                        </div>
                        <p class="card-text text-decoration-line-through fs-6">৳@item.unitPrice</p>
                    }
                    else
                    {
                        <p class="card-text fs-1">৳@item.unitPrice</p>
                    }

                </div>
            </div>
        }

    </div>
</div>


