@model ProductModel
@inject Generic_POS_System.Helper.UserHelper _userHelper


@{ 
    var loggedIn = _userHelper.IsLoggedIn();
}

<style>

    .carContainer {
        padding: 0px 50px 0px 50px;
        margin-top:30px;
        margin-bottom:9vh;
    }

    #quantity{
        width:3rem;
    }

    @@media screen and (min-width:768px){
        .carousel-item img {
            object-fit: fill;
            width:auto;
            height: 46vh;
            overflow: hidden;
            object-position: center center;
        }
    }

    @*.carousel-item{
        background-color: antiquewhite;
        width:80%;
        height: 70%;
        margin-left:auto;
        margin-right:auto;
    }

    .carousel-item img{
        object-fit: fill;
        height:50vh;
        overflow: hidden;
        object-position: center center;
    }*@

    @*.carImage{
        width:33%;
        float:left;
    }*@
</style>
@section scripts{

    <script type="text/javascript">
        $(function () {
            
            // Document.ready -> link up remove event handler
            $("#addCart").click(function () {
                //var qty = $(this).data("id");
                var qty = document.getElementById('qty').value;

                $.ajax({
                url: "/ShoppingCart/AddToCart/" + @Model.productId,
                    method: "POST",
                    data: { quantity: qty },
                    success: function (data) {
                        localStorage.setItem("cartId", data);
                        alert("Added to cart.");
                    },
                    error: function (err) {
                        console.error(err);
                    }

                });
            });
        });
    </script>
    
    
    

}

<div class="carContainer">
    <span class="bg-seccess">
        <h1>@TempData["Message"]</h1>
    </span>

    <h3 class="display-4">Product Detail</h3>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 py-2">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Arcade.Count(); i++)
                    {
                        <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                            <img class="d-block w-100" src="@Model.Arcade[i].URL" alt="@Model.Arcade[i].Name">
                        </div>
                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.productName</h1>
                </div>
            </div>
            <hr />
            <div class="col-md-12">


                @if (Model.productDiscount != 0)
                {
                    <div class="badge bg-danger text-wrap text-center fs-5 fw-bolder" style="width: auto; height: auto;">
                        ৳@Model.productDiscount
                    </div>
                    <p class="card-text text-decoration-line-through fs-6">৳@Model.unitPrice</p>
                }
                else
                {
                    <p class="card-text fs-1">৳@Model.unitPrice</p>
                }

            </div>
            <div class="row py-2">
                <div class="col-md-12">
                    <label>Quantity:</label>
                </div>
            </div>


            <div class="row py-2">
                <div class="col-md-12">
                    <input class="text-center" id="qty" type="number" value="1" name="quantity" min="1" max="5" />
                </div>
            </div>




            <div class="row py-3">
                <div class="col-md-12">
                    @if (!loggedIn)
                    {
                        <a class="btn btn-primary" asp-action="login" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path">Add To Cart</a>
                    }
                    else
                    {
                        <button id="addCart" class="btn btn-primary">Add to Cart</button>
                    }

                </div>
            </div>


            <hr />

            <ul class="list-group">
                <li class="list-group-item list-group-item-success fw-bold">Available: @Model.totalProducts</li>
                <li class="list-group-item list-group-item-success fw-bold">Type: @Model.productType</li>
                
            </ul>

        </div>
    </div>
</div>

<script>
    function increment() {
        document.getElementById("quantity").stepUp();
    }
    function decrement() {
        document.getElementById("quantity").stepDown();
    }
</script>